@font-face {
    font-family: lalezar;
    src: url("assets/fonts/Lalezar-Regular.ttf");
}
@font-face {
    font-family: intro-bold;
    src: url("assets/fonts/Intro\ Bold\ Regular.otf");
}
@font-face {
    font-family: hacen;
    src: url("assets/fonts/Hacen-Algeria.ttf");
}
:focus {
    outline: none;
}

body {
    font-family: hacen;
    margin: 0px;
    padding: 0px;
}
nav {
    width: 1166px;
    height: 76px;
    margin: auto;
    display: flex;
    margin-top:10px ;
    margin-bottom: 5px;
    align-items: center;
    font-size: 18px;
    font-family: lalezar;
}
.logo {
    height: 31.77px;
    width: 197.85px;
    margin-right: 75px;
    cursor: pointer;
}
.search-box {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    width: 450px;
    height: 40px;
}
.search-input {
    margin-left: 16px;
    width: 90%;
    background: none;
    color: #a5a5a5;
    outline: none;
    border: none;
}
.search-icon {
    height: 32px;
    width: 32px;
}
.search-button {
    background-color: #f3f3f3;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
li, a {
    text-decoration: none;
    list-style: none;
}
.home {
    color: #ff783d;
    margin-left: 25px;
    margin-right: 16px;
    padding: 5px 27.5px;
    border-radius: 30px;
}
.home:hover {
    transition: 0.4s;
    background-color: #f3f3f3;
}
.lang1 {
    color: #ff783d;
    padding: 5px 12px;
    border-radius: 25px;
    margin-right: 4px;
}
.lang2 {
    color: #ff783d;
    padding: 5px 12px;
    border-radius: 25px;
}
.getstarted {
    margin-left: 50px;
    padding: 5px 27.5px;
    border-radius: 30px;
    background-color: #ff783d;
    color: white;
}
#hl {
    background-color: #f3f3f3;
}
#unr {
    font-family: hacen;
}
/* header style */
#img-header {
    width: 100%;
    position: relative;
}
.header-icon {
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;    
    width: 180px;
}
/* main */

.thumbnail-slider{
	width: 100%;
	float: left;
	overflow: hidden;
}

.thumbnail-slider .thumbnail-container{
	width: 100%;
	float: left;
    transition: margin 0.8s ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.thumbnail-slider .item{
    cursor: pointer;
    width: 185px;
  height: 185px;
  line-height: 185px;
  text-align: center;
  font-size: 50px;
  color:#ffffff;
  float: left;
  box-shadow: 5px 5px 15px hsl(0, 0%, 50%,0.15);
  border-radius: 30px;
  background-image: url(assets/icon-logo/Logo\ Icon2.svg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.thumbnail-slider .controls{
	width: 100%;
	float: left;
	padding:15px;
}

.thumbnail-slider .controls ul{
	display: block;
	text-align: center;
	padding:0;
	margin: 0;
	list-style: none;
}
.thumbnail-slider .controls ul li{
	height: 18px;
	width: 18px;
    margin:8px;
    background: #a5a5a5;
	display: inline-block;
	line-height: 33px;
    cursor: pointer;
    border-radius: 18px;
}
.thumbnail-slider .controls ul li.active{
	background-color:#ff783d;
	color:#ffffff;

}
.thumbnail-slider h1 {
    margin-top: 55px;
    text-align: center;
    font-size: 50px;
    font-family: hacen;
    color: #ff783d;
}
.space {
    margin-left: 50px;
}
.space2 {
    margin-right: 50px;
}
.controls {
    margin-bottom: 15px;
}

/* section  */
.about-us {
    width: 100%;
    height: 450px;
    margin-top: 450px;
    background: #ff783d;
    position: relative;
}
h2{
    position: absolute ;
    top: 10%;
    left: 45%;
    transform: translate(-10%, -45%);
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: hacen;
}
.mobile-app-art {
    height: 425px;
    width: 100%;
}
.inner-mobile-app {
    font-family: hacen;
    color: #ff783d;
    margin-top: 150px;
    height: 215.39px;
    width: 475px;
    margin-left: auto;
    margin-right: auto;
}
.inner-mobile-app h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 5px;
}
.inner-mobile-app h4 {
    text-align: center;
    font-size: 25px;
    margin: 0px;
    margin-bottom: 25px;
}
.inner-mobile-app img {
    width: 217px;
    height: 65px;
}
#space {
    margin-right: 36px;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #ff783d;
}
.wrapper {
    position: relative;
    width: 1166px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    color: white;
    font-family: intro-bold;
}
.app-box {
    width: 280.12px;
    height: 100px;
}
.app-text {
    margin: 15px;
    text-align: center;
    font-size: 25px;
}
.footer-logo {
    margin-left: 197px;
    width: 247.51px;
    height: 43.72px;
}
.social-box {
    position: absolute;
    top: 65px;
    right: 0px;
    width: 193px;
    height: 69.61px;
}
.social-text {
    letter-spacing: 1px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
}
.social-icon {
    margin-top: 10px;
    margin-left: 10px;
}
#unr {
    font-family: lalezar !important;
}